<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
    <section>
        <body>
                {% for mensaje in mensaje %}
                <p  class= "err-msg"> {{ mensaje }}</p>
                {% endfor %}
                <main>
                    <nav class="navbar-list">
                        <ul> 
                            <li class="item"><a href="/">INICIO</a></li>
                            <li class="item"><a href="/purchase">COMPRA</a></li>
                            <li class="item"><a href="/status">STATUS</a></li>
                            
                        </ul>
                    </nav>
                    <h1 class="headBoard">{% block titulo2 %}{% endblock %}</h1>
                        {% block contenido %} {% endblock %}
                    
                </main>
            </div>
            
            <footer>
                &copy; 2021-2022 Todos los derechos reservados.
            </footer>
        </body>
    </section>
</html>